$color-ready: #f9dc5c;
$color-active: #7f9183;

.Scoreboard_main {
  width: 100%;
  height: 46%;
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  grid-template-rows: 100%;
  margin-top: 3%;
}
.Score {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: -15%;

  &__teamName {
    width: 100%;
    height: 20%;
    // background: $color-active;
  }
}
.TeamName {
  width: 70%;
  height: 107%;
  padding-bottom: 5px;
  display: block;
  background: none;
  border-bottom: 3px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 0 auto;
  text-align: center;
  font-size: 2.5rem;
  font-family: "Orbitron", sans-serif;
  font-weight: bolder;
  color: #fff;
  outline: none;
}
.Score__team {
  font-size: 14rem;
  width: 100%;
  height: 70%;
  color: white;
  font-family: "Digital Dismay", sans-serif;
  text-align: center;
  line-height: 220px;
  & > p {
    width: 100%;
    height: 90%;
    vertical-align: middle;
  }
}

.Score_button-container {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  & > button {
    width: 50px;
    height: 50px;
    background: #2e282a;
    color: white;
    font-size: 1.3rem;
    border-radius: 50%;
    border: none;
    position: relative;
    margin-right: 1rem;
    & > img {
      width: 60%;
      vertical-align: middle;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.Score_button:active,
.Score_button:focus {
  animation: scale 0.5s;
}

@keyframes scale {
  from {
    transform: scale(1.1);
  }
}
